@page
@model EmailVerification.Pages.RegisterModel
@{
}

<form method="post">
    <label for="email">Email:</label>
    <input id="email" name="Email" type="email" />
    <button type="submit">Register</button>
</form>

