<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NordicNest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NordicNest.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body style="height:10000px;">

    <nav class="bg-gray-800 text-white fixed top-0 w-full z-10">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-4">
                    <!-- Logo -->
                    <div class="py-3">
                        <a asp-page="/index" class="py-2 px-2 rounded-3 hover:bg-white hover:text-blue hover:font-bold transition duration-300">
                            <i class="text-2xl fas fa-hand-holding-usd" stroke="currentColor"></i>
                            <span class="font-bold">Nordic Nest</span>
                        </a>
                    </div>
                    <!-- Primary Navbar items -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a asp-page="/index" class="py-2 px-3 bg-green-700 rounded transition duration-700 hover:bg-white hover:text-black hover:font-bold">Home</a>
                        <a asp-page="/About" class="py-2 px-3 bg-green-700 rounded transition duration-700 hover:bg-white hover:text-black hover:font-bold">Services</a>
                        <a asp-page="/index" class="py-2 px-3 bg-green-700 rounded transition duration-700 hover:bg-white hover:text-black hover:font-bold">About</a>
                        <a asp-page="/About" class="py-2 px-3 bg-green-700 rounded transition duration-700 hover:bg-white hover:text-black hover:font-bold">Contact</a>
                    </div>
                </div>
                <!-- Secondary Navbar items -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="/About" class="py-2 px-3 bg-blue-700 text-white rounded hover:font-bold animate-pulse">Login</a>
                    <a href="/About" class="py-2 px-3 bg-green-600 text-white rounded hover:font-bold">Sign Up</a>
                </div>
                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="mobile-menu hidden md:hidden flex flex-col items-center justify-center space-y-1">
            <a asp-page="/About" class="block py-2 px-4 text-sm text-white rounded">Home</a>
            <a asp-page="/About" class="block py-2 px-4 text-sm text-white rounded">Services</a>
            <a asp-page="/About" class="block py-2 px-4 text-sm text-white rounded">About</a>
            <a asp-page="/About" class="block py-2 px-4 text-sm text-white rounded">Contact</a>
            <a asp-page="/About" class="block py-2 px-4 text-sm text-white bg-blue-700 rounded">Login</a>
            <a asp-page="/About" class="block py-2 px-4 text-sm text-white bg-green-700 rounded">Sign Up</a>
        </div>

    </nav>

    <script src="/js/Navbar.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>