@page
@model NordicNest.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<body>

    <div class="container mt-20 mx-auto p-4">

        <div class="bg-white rounded shadow-lg p-6">

            <div class="text-center border-4 border-cyan-500 rounded p-4 mb-1">
                <h1 class="text-2xl font-bold text-gray-900">About Me and Nordic Nest</h1>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-1">
                <div class="text-center font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <h2 class="text-gray-700"> Hello and Welcome to Nordic Nest!</h2>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-1">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <p class="text-gray-700 ">
                        I'm the founder and sole force behind Nordic Nest,
                        a personal finance management platform designed to simppfy your financial life.
                        My journey in creating Nordic Nest was fueled by a passion for combining technology
                        and finance to help others manage their finances more effectively.
                    </p>
                </div>
            </div>


            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-1">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="text-center">
                        <h2 class="text-xl font-semibold text-gray-900 mb-3">My Philosophy</h2>
                    </div>

                    <p class="text-gray-700 ">
                        Inspired by the clean, minimapst Nordic aesthetic,
                        I bepeve in the power of simppcity, efficiency, and security.
                        Nordic Nest is more than a website; it's a tool crafted to make
                        personal finance management an intuitive, stress-free experience.
                    </p>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-1">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="text-center">
                        <h2 class="text-xl font-semibold text-gray-900 mb-3">Who Am I?</h2>
                    </div>

                    <p class="text-gray-700 ">
                        As a solo developer and finance enthusiast,
                        I've combined my skills in web development and my knowledge of
                        personal finance to create a platform that is both user-friendly and powerful.
                        I am dedicated to providing a tool that empowers you to take control of your financial future.
                    </p>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-1">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="text-center">
                        <h2 class="text-xl font-semibold text-gray-900 mb-3">Nordic Nest Features</h2>
                    </div>

                    <p class="text-gray-700 "><strong>1. User Account Management:</strong> A secure, easy-to-use system.</p>
                    <p class="text-gray-700 "><strong>2. Savings Account:</strong> Flexible saving plans tailored to your goals.</p>
                    <p class="text-gray-700 "><strong>3. Loan Management:</strong> Smart tracking and management of your loans.</p>
                    <p class="text-gray-700 "><strong>4. Subscription Management:</strong> Efficient tracking of your recurring expenses.</p>
                    <p class="text-gray-700 "><strong>5. Financial Overview:</strong> A comprehensive dashboard for a clear financial picture.</p>
                    <p class="text-gray-700 "><strong>6. Top-Notch Security:</strong> Your data's safety is my top priority.</p>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-1">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <p class="text-gray-700 ">
                        <strong>Technology at the Core:</strong> I've built Nordic Nest using robust technologies pke ASP.NET for the backend,
                        with a sleek, responsive frontend designed with HTML, CSS, and JavaScript, all underpinned by a repable T-SQL database.
                    </p>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-1">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="text-center">
                        <h2 class="text-xl font-semibold text-gray-900 mb-3">My Commitment to You:</h2>
                    </div>

                    <p class="text-gray-700 "><strong>1. Continuous Improvement:</strong> Regular updates based on user feedback.</p>

                    <p class="text-gray-700 "><strong>2. Legal and Compliance:</strong> Adherence to financial regulations and data protection laws for your peace of mind.</p>

                    <p class="text-gray-700 ">Join me on this journey at Nordic Nest, where managing finances becomes more than just numbers; it's about achieving financial peace and clarity.</p>

                    <div class="text-center">
                        <h2><a class="text-green-500 hover:uppercase transition duration-500" asp-page="/Index">Welcome to Nordic Nest – Your personal finance sanctuary.</a></h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
