@page
@model NordicNest.Pages.ContactModel
@{
    // This code will make sure that you don't get anything from the _Layout.cshtml page
    Layout = null;
}

<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>
<h1>Hello this is Contact</h1>