@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@model NordicNest.Pages.Contact_FormModel
@{
	ViewData["Title"] = "Contact Form ";
	int returnValue = Model._result;
	Console.WriteLine(returnValue);
}

<body>

	@if (!Model.ShowMessage)
	{
		<div id="mainContainer" class="container mt-20 mx-auto p-4 lg:w-2/5">
			<div class="bg-white rounded shadow-lg p-6">
				<div class="text-center border-4 border-cyan-500 rounded p-4 mb-3">
					<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
						Contact Form
					</h2>
				</div>

				<div id="firstOption" class="block text-center border-4 border-cyan-500 rounded p-4 mb-3">

					<form id="clientForm">
						<div class="text-center">
							<h2>Are you a client of <strong class="text-blue-500">Nordic Nest</strong>?</h2>
						</div>

						<div class="mt-4 flex justify-center gap-10">
							<!-- 'Yes' Checkbox with Tailwind Styling -->
							<div class="flex items-center me-4">
								<input type="checkbox" id="isClient" name="clientStatus"
									   class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500" required checked />
								<label for="isClient" class="text-xs sm:text-sm lg:text-lg xl:text-xl ms-2 text-sm font-medium text-green-500">Yes</label>
							</div>

							<!-- 'No' Checkbox with Tailwind Styling -->
							<div class="flex items-center me-4">
								<input type="checkbox" id="notClient" name="clientStatus"
									   class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500" required />
								<label for="notClient" class="text-xs sm:text-sm lg:text-lg xl:text-xl ms-2 text-sm font-medium text-red-500">No</label>
							</div>
						</div>
					</form>
				</div>

				<script src="~/js/Contact_Form.js" asp-append-version="true"></script>

				<!-- Form for 'Yes' option (Initially Hidden) -->
				<div id="clientFormYes" class="block">
					<div class="text-center border-4 border-cyan-500 rounded p-4 mb-1">
						<form id="clientForm" method="post" class="text-black">
							<div class="bg-gray-100 p-1 rounded">
								<div class="lg:flex text-center">
									<p class="w-100 lg:text-left">Your First Name</p>
									<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center w-100 lg:w-2/3 font-bold" name="FirstName" type="text" placeholder="First Name" required />

								</div>
							</div>

							<div class="bg-gray-100 p-1 rounded mt-3 mt-lg-1">
								<div class="lg:flex text-center">
									<p class="w-100 lg:text-left">Your Client Number</p>
									<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center w-100 lg:w-2/3 font-bold [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" name="ClientNumber" type="number" placeholder="Client Number" required />
								</div>
							</div>

							<button type="submit" class="text-xs sm:text-sm lg:text-lg xl:text-xl bg-green-500 w-50 h-10 lg:w-25 font-bold mt-3 rounded transition duration-500 hover:bg-blue-500 hover:scale-110 hover:border-2 hover:border-black hover:text-white">
								Next
							</button>

						</form>
					</div>
				</div>

				<!-- Form for 'No' option (Initially Hidden) -->
				<div id="clientFormNo" class="hidden">
					<form id="clientForm" method="post" asp-page-handler="isNotClient">
						<div class="bg-gray-100 p-1 rounded">
							<div class="lg:flex text-center justify-center items-center bg-gray-100">
								<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center font-bold w-1/3 m-3 text-black font-bold" name="NewUserFirstName" type="text" placeholder="First Name" required />
								<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center font-bold w-1/3 m-3 text-black font-bold" name="NewUserLastName" type="text" placeholder="Last Name" required />
								<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center font-bold w-1/3 m-3 text-black font-bold" name="userEmail" type="email" placeholder="Your Email" required />
							</div>
						</div>

						<div class="bg-gray-100 p-1 rounded mt-3 mt-lg-1">
							<div class="text-justify text-black">
								<textarea id="messageTextarea" class="text-xs sm:text-sm lg:text-lg xl:text-xl w-100 h-44 break-words border-4 border-cyan-500 rounded " name="userMessage" maxlength="255"></textarea>

								<label id="charCountLabel" class="text-xs sm:text-sm lg:text-lg xl:text-xl flex text-left ">Character Count: </label>

								<button type="submit" class="text-xs sm:text-sm lg:text-lg xl:text-xl bg-green-500 w-100 h-10 lg:w-25 hover:text-white font-bold mt-3 rounded transition duration-500 hover:bg-blue-500 hover:border-2 hover:border-black">
									Submit The request
								</button>

							</div>
						</div>

						<script src="~/js/charCount.js" asp-append-version="true"></script>

					</form>

					<form method="post" asp-page-handler="cancel">
						<button type="submit" class="text-xs sm:text-sm lg:text-lg xl:text-xl bg-red-400 w-100 h-10 lg:w-25 text-white font-bold mt-3 rounded transition duration-500 hover:bg-red-600 hover:border-2 hover:border-black">
							Cancel
						</button>
					</form>

				</div>
			</div>
		</div>
	}

	@if (Model.ShowMessage)
	{
		<div class="container mt-20 mx-auto p-4">
			<div class="bg-white rounded shadow-lg p-6">
				<div class="text-center border-4 border-cyan-500 rounded p-4 mb-3">
					@if (returnValue == -99)
					{
						<h1>An error occure while loading please refresh the page and try again thanks</h1>
						<form method="again">
							<button type="submit" class="mt-2 text-white w-full h-auto rounded bg-red-500 transition duration-300 hover:bg-blue-500">
								Please try again thanks!
							</button>
						</form>
					}
					else if (returnValue == -2)
					{
						<h1>We could not find you in our database. Please check your information again.</h1>
						<form method="again">
							<button type="submit" class="mt-2 text-white w-full h-auto rounded bg-red-500 transition duration-300 hover:bg-blue-500">
								Please try again thanks!
							</button>
						</form>
					}
					else if (returnValue == 1)
					{
						<form id="clientForm" method="post" asp-page-handler="isClient">
							<div class="bg-gray-100 p-1 rounded">
								<div class="lg:flex text-center justify-center items-center bg-gray-100">
									<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center lg:w-1/4 font-bold m-3 text-black font-bold" type="text" placeholder="@Model._firstname" readonly />
									<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center lg:w-1/4 font-bold m-3 text-black font-bold" type="text" placeholder="@Model._lastname" readonly />
									<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center lg:w-1/4 font-bold m-3 text-black font-bold" type="number" placeholder="@Model._clientNumber" readonly />
									<input class="rounded border-2 border-sky-500 text-xs sm:text-sm lg:text-lg xl:text-xl text-center font-bold w-1/3 m-3 text-black font-bold" name="userEmail" type="email" placeholder="Your Email" required />
								</div>
							</div>

							<div class="bg-gray-100 p-1 rounded mt-3 mt-lg-1 text-black">
								<div class="text-justify ">
									<textarea id="messageTextarea" class="text-xs sm:text-sm lg:text-lg xl:text-xl w-100 h-44 break-words border-4 border-cyan-500 rounded " name="userMessage" maxlength="255" required></textarea>

									<label id="charCountLabel" class="text-xs sm:text-sm lg:text-lg xl:text-xl flex text-left ">Character Count: </label>

									<button type="submit" class="text-xs sm:text-sm lg:text-lg xl:text-xl bg-green-500 w-100 h-10 lg:w-25 hover:text-white font-bold mt-3 rounded transition duration-500 hover:bg-blue-500 hover:border-2 hover:border-black">
										Submit The request
									</button>

								</div>
							</div>

							<script src="~/js/charCount.js" asp-append-version="true"></script>

						</form>

						<form method="post" asp-page-handler="cancel">
							<button type="submit" class="text-xs sm:text-sm lg:text-lg xl:text-xl bg-red-400 w-100 h-10 lg:w-25 text-white font-bold mt-3 rounded transition duration-500 hover:bg-red-600 hover:border-2 hover:border-black">
								Cancel
							</button>
						</form>

					}
					else if (returnValue == 0)
					{
						<h1> It is still fucking zero</h1>
					}
				</div>
			</div>
		</div>
	}

</body>
