@page
@model NordicNest.Pages.DashBoardModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tailwind</title>
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>

	<div class="flex items-center justify-center h-screen bg-teal-500">
		<div class="text-white mt-20 mx-3 bg-black mb-3 w-100 h-100">
			hello world
		</div>
	</div>
</body>
