@page
@model NordicNest.Pages.ForgotPasswordModel
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="flex justify-center items-center h-screen bg-cover bg-center" style="background-image: url('/Images/Logo1.png');">
    <!--This is the default forget password page-->
    <div class="flex justify-center items-center col-span-1">
        <div class="bg-white p-8 rounded-lg shadow-md w-full sm:w-96">
            <!--This form is the default form for forget password-->
            @if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 0)
            {
                <h2 class="text-2xl font-semibold mb-4">Forgot Password</h2>
                <p class="text-gray-600 mb-6">
                    Enter your email address below and we'll send you a link to reset your
                    password.
                </p>
                <form method="post">
                    <div class="mb-4">
                        <label for="username"
                               class="block text-sm font-medium text-gray-700">Username</label>
                        <input type="text"
                               id="username"
                               name="username"
                               class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700">Email Address</label>
                        <input type="email"
                               id="email"
                               name="email"
                               class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit"
                                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                            Send Reset Link
                        </button>
                        <a asp-page="Login" class="text-sm text-indigo-500 hover:text-indigo-700">Back to Login</a>
                    </div>
                </form>
            }
            <!--This form is the if username is not found in database-->
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 2)
            {
                <h2 class="text-2xl font-semibold mb-4">Forgot Password</h2>
                <p class="text-gray-600 mb-6">
                    The username you have insert is nowhere to be found in our database.
                    Please re-check or you can contact me on
                    <a asp-page="/Contact_Form" class="cursor-pointer font-extrabold duration-300 hover:text-cyan-700">contact form</a>
                </p>
                <form>
                    <div class="mb-4">
                        <label for="username"
                               class="block text-sm font-medium text-gray-700">Username</label>
                        <textbox readonly
                                 type="username"
                                 id="username"
                                 name="username"
                                 class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 pt-1 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 text-gray-500">
                            here username will be written
                        </textbox>
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit"
                                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                            Start Again
                        </button>
                        <a href="#" class="text-sm text-indigo-500 hover:text-indigo-700">Back to Login</a>
                    </div>
                </form>
            }
            <!--This form is the if email is not the same as email that was used to create this account-->
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 3)
            {
                <h2 class="text-2xl font-semibold mb-4">Forgot Password</h2>
                <p class="text-gray-600 mb-6">
                    The username you have insert is found in our database, but the email
                    you have insert is different from the previous one that is why i would
                    like you to send me a mail using
                    <a asp-page="/Contact_Form" class="cursor-pointer font-extrabold duration-300 hover:text-cyan-700">contact form</a>
                    because of security purpose. Thanks!
                </p>
                <form>
                    <div class="mb-4">
                        <label for="username"
                               class="block text-sm font-medium text-gray-700">Username</label>
                        <textbox readonly
                                 type="username"
                                 id="username"
                                 name="username"
                                 class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 pt-1 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 text-gray-500">
                            here username will be written
                        </textbox>
                    </div>
                    <div class="mb-4">
                        <label for="username"
                               class="block text-sm font-medium text-gray-700">Email</label>
                        <textbox readonly
                                 type="text"
                                 id="email"
                                 name="email"
                                 class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 pt-1 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 text-gray-500">
                            here user email will be written
                        </textbox>
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit"
                                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                            Start Again
                        </button>
                        <a href="#" class="text-sm text-indigo-500 hover:text-indigo-700">Back to Login</a>
                    </div>
                </form>
            }
            <!--This form is the if user have already reset his password around 5 times-->
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 4)
            {
                <h2 class="text-2xl font-semibold mb-4">Accourding to the system you have changed your password around 5 times please 
                    <a asp-page="/Contact_Form" class="cursor-pointer font-extrabold duration-300 hover:text-cyan-700 ">contact the Admin</a> for more details </h2>
            }
            <!--This form is the if user inserted key is not the same as the key in database-->
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 5)
            {
                <h2 class="text-2xl font-semibold mb-4">Forgot Password</h2>
                <p class="text-gray-600 mb-6">
                    The key you have insert is wrong. please try again or use
                    <a asp-page="/Contact_Form" class="cursor-pointer font-extrabold duration-300 hover:text-cyan-700 text-sm text-gray-700">Contact Form</a>
                </p>
                <form>
                    <div class="mb-4">
                        <label for="AGK" class="block text-sm font-medium text-gray-700">Auto Generated Key</label>
                        <textbox type="text"
                                 id="AGK"
                                 name="AGK"
                                 class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 pt-1 text-gray-500 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            This is where user insert key is shown
                        </textbox>
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit"
                                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                            resend
                        </button>
                        <a href="#" class="text-sm text-indigo-500 hover:text-indigo-700">Back to Login</a>
                    </div>
                </form>
            }
            <!--This form is the for the user to insert the key he recieved-->
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 6)
            {
                <h2 class="text-2xl font-semibold mb-4">Forgot Password</h2>
                <p class="text-gray-600 mb-6">
                    Please insert the key that is send (on your given email) in the
                    <label for="AGK"
                           class="cursor-pointer font-extrabold duration-300 hover:text-cyan-700 text-sm text-gray-700">Input Field below</label>
                </p>
                <form>
                    <div class="mb-4">
                        <label for="AGK" class="block text-sm font-medium text-gray-700">Auto Generated Key</label>
                        <input type="text"
                               id="AGK"
                               name="AGK"
                               class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit"
                                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                            Continue
                        </button>
                        <button type="submit"
                                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                            resend
                        </button>
                        <a href="#" class="text-sm text-indigo-500 hover:text-indigo-700">Back to Login</a>
                    </div>
                </form>
            }
            <!--This form is the for the last step here we just make sure that user password and confirm password are same and then we add it into the database-->
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 10)
            {
                <h2 class="text-2xl font-semibold mb-4">Forgot Password</h2>
                <p class="text-gray-600 mb-6">
                    everything is fine please continue with the last step
                </p>
                <form>
                    <div class="mb-4">
                        <label for="Password"
                               class="block text-sm font-medium text-gray-700">Password</label>
                        <input type="Password"
                               id="Password"
                               name="Password"
                               class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                    </div>
                    <div class="mb-4">
                        <label for="CPassword"
                               class="block text-sm font-medium text-gray-700">confirm Password</label>
                        <input type="Password"
                               id="CPassword"
                               name="CPassword"
                               class="mt-1 block w-full rounded-md shadow-sm bg-gray-200 min-h-8 px-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit"
                                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                            Done
                        </button>
                        <a href="#" class="text-sm text-indigo-500 hover:text-indigo-700">Back to Login</a>
                    </div>
                </form>
            }
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 19)
            {
                <!--This will show a Sweetalert.js-->
            }
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 991)
            {
            <h2 class="text-2xl font-semibold mb-4">
                I am sorry but an error occured in database. Can you kindly try again else try to 
                <a asp-page="/Contact_Form" class="cursor-pointer font-extrabold duration-300 hover:text-cyan-700 ">contact the Admin.</a> Thanks!
            </h2>
            <h2 class="text-2xl font-semibold mb-4">
                The error was regarding Username or email
            </h2>
            }
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 992)
            {
            <h2 class="text-2xl font-semibold mb-4">
                I am sorry but an error occured in database. Can you kindly try again else try to
                <a asp-page="/Contact_Form" class="cursor-pointer font-extrabold duration-300 hover:text-cyan-700 ">contact the Admin.</a> Thanks!
            </h2>
            <h2 class ="text-2xl font-semibold mb-4">
                The error was regarding generated key or multipuls attempts    
            </h2>
            }
            else if (NordicNest.Model.BasicProperties.ForgotPasswordcurrentForm == 993)
            {
            <h2 class="text-2xl font-semibold mb-4">
                I am sorry but an error occured in database. Can you kindly try again else try to
                <a asp-page="/Contact_Form" class="cursor-pointer font-extrabold duration-300 hover:text-cyan-700 ">contact the Admin.</a> Thanks!
            </h2>
            <h2 class="text-2xl font-semibold mb-4">
                The error was regarding new Password and Confirm Password
            </h2>
            }
        </div>
    </div>
</body>