@page
@model NordicNest.Pages.FrontendDesignModel
@using System.Text.Json;
@using NordicNest.Model.SavingLoanDatabase;
@using NordicNest.Controller.DefaultSLController;
@{
	List<NordicNest.Model.Transaction.TransactionVariable> TV = new NordicNest.Model.Transaction.TransactionConnection().GetTransactionInfo();
	List<NordicNest.Model.Subscriptions.SubVariables> SV = new NordicNest.Model.Subscriptions.SubConnection().GetSubscriptionInfo();
	NordicNest.Controller.ClientDataController CDC = new NordicNest.Controller.ClientDataController();
	List<Model.NavBar.NavBarProperties> NBP = new Model.NavBar.NavBarConnection().GetNavBars();
	decimal[] progressBars = { Model.Savingpercentage(), Model.Loanpercentage() };
	NordicNest.Model.BasicProperties.CurrentPage = "Home";
	var Sresult = new DefaultSavingController().GetData();
	var Lresult = new DefaultLoanController().GetData();
	var ClientData = CDC.GetClientData();

	List<string> CSLabel = new List<string> { "Housing", "Transportation", "Living Expenses", "Debt and Savings", "Discretionary Spending" };
	List<string> CSbackgroundColor = new List<string> { "#3498db", "#27ae60", "#e74c3c", "#f39c12", "#8e44ad" };
	List<int> CSdata = new List<int> { 20, 20, 20, 20, 80 };
}
<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
	<script src="https://kit.fontawesome.com/f3d48ce569.js" crossorigin="anonymous"></script>
	<link href="/css/transparentScrollbar.css" rel="stylesheet" asp-append-version="true" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body class="bg-emerald-900">
    <div class="mt-12 grid grid-cols-2 xl:grid-cols-12 grid-flow-row-dense gap-3 p-4 text-2xl text-center">
        <!-- Current usable amount -->
        <div class="mt-2 col-span-2 xl:col-span-4 bg-gradient-to-r from-[#6DD7B9] to-[#9AE3C0] rounded-lg relative flex justify-center items-center drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <div class="absolute top-2 hidden lg:block">Current Usable Amount</div>
            <a class="absolute top-2 left-2 fas fa-pen-to-square"></a>
            <a class="absolute top-2 right-2 fas fa-circle-info drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"></a>
            <strong class="2xl:text-6xl p-12">5000</strong>
        </div>
        <!-- current amount -->
        <div class="mt-2 col-span-1 xl:col-span-4 bg-gradient-to-r from-[#6DD7B9] to-[#9AE3C0] rounded-lg relative flex justify-center items-center drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <div class="absolute top-2 hidden lg:block">Current Amount</div>
            <a class="absolute top-2 left-2 fas fa-pen-to-square"></a>
            <a class="absolute top-2 right-2 fas fa-circle-info"></a>
            <strong class="2xl:text-6xl p-12">5000</strong>
        </div>
        <!-- Total amount -->
        <div class="mt-2 col-span-1 xl:col-span-4 bg-gradient-to-r from-[#6DD7B9] to-[#9AE3C0] rounded-lg relative flex justify-center items-center drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <div class="absolute top-2 hidden lg:block">Total Amount</div>
            <a class="absolute top-2 left-2 fas fa-pen-to-square"></a>
            <a class="absolute top-2 right-2 fas fa-circle-info"></a>
            <strong class="2xl:text-6xl p-12">5000</strong>
        </div>
        <!-- user reserve -->
        <div class="mt-2 col-span-1 xl:col-span-6 bg-gradient-to-r from-[#5DBFAC] to-[#87CCB9] rounded-lg relative flex justify-center items-center drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <div class="absolute top-2 hidden lg:block">User Reserve Amount</div>
            <a class="absolute top-2 right-2 fas fa-circle-info"></a>
            <strong class="2xl:text-6xl p-12">5000</strong>
        </div>
        <!-- system reserve -->
        <div class="mt-2 col-span-1 xl:col-span-6 bg-gradient-to-r from-[#5DBFAC] to-[#87CCB9] rounded-lg relative flex justify-center items-center drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <div class="absolute top-2 hidden lg:block">System Reserve Amount</div>
            <a class="absolute top-2 right-2 fas fa-circle-info"></a>
            <strong class="2xl:text-6xl p-12">5000</strong>
        </div>
    </div>
    <div class="-mt-7 md:grid md:grid-cols-4 lg:grid-cols-12 grid-flow-row-dense gap-3 p-4 text-2xl text-center">
        <div class="mt-2 md:col-span-2 lg:col-span-4 p-4 bg-white/50 rounded-lg flex justify-center items-center drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <canvas id="Weekchart" class="bg-white/90 rounded-lg"></canvas>
        </div>
        <script src="/js/Weekchart.js"></script>

        <div class="mt-2 md:col-span-4 lg:col-span-4 p-4 bg-white/50 rounded-lg flex justify-center items-center drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <canvas id="MaxAmount" class="bg-white/90 rounded-lg"></canvas>
        </div>
        <script src="/js/MaxAmount.js"></script>
        
        <div class="mt-2 md:col-span-2 lg:col-span-4 p-4 bg-white/50 rounded-lg flex justify-center items-center drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <canvas id="MonthlyUsage" class="bg-white/90 rounded-lg"></canvas>
        </div>
        <script src="/js/MonthlyUsage.js"></script>
        
        <div class="mt-2 md:mt-0 md:col-span-4 lg:col-span-8 p-4 bg-white/50 rounded-lg relative drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <a class="absolute top-2 right-2 fa-solid fa-angles-right"></a>
            <h2 class="font-semibold mb-4">Transactions</h2>
            <div class="max-h-64 overflow-y-auto">
                <table class="table-fixed min-w-full text-left">
                    <thead>
                        <tr class="bg-black text-white">
                            <th class="px-6 py-3 w-1/6">Day</th>
                            <th class="px-6 w-1/6">Date</th>
                            <th class="px-6 w-1/6">Time</th>
                            <th class="px-6 w-1/6">From</th>
                            <th class="px-6 w-1/6">To</th>
                            <th class="px-6 w-1/6">Amount</th>
                            <th class="px-6 w-1/6">Modify</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr class="bg-white/50 border-b-2 border-gray-500">
                            <td class="px-6 py-2">Monday</td>
                            <td class="px-6">09/02/23</td>
                            <td class="px-6">09:02:33</td>
                            <td class="px-6">Me</td>
                            <td class="px-6">My Friend</td>
                            <td class="px-6">920 DKK</td>
                            <td class="px-6">
                                <button class="border border-gray-500 min-w-full rounded-lg bg-blue-500 hover:scale-105 duration-300">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        <tr class="bg-white/50 border-b-2 border-gray-500">
                            <td class="px-6 py-2">Monday</td>
                            <td class="px-6">09/02/23</td>
                            <td class="px-6">09:02:33</td>
                            <td class="px-6">Me</td>
                            <td class="px-6">My Friend</td>
                            <td class="px-6">920 DKK</td>
                            <td class="px-6">
                                <button class="border border-gray-500 min-w-full rounded-lg bg-blue-500 hover:scale-105 duration-300">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        <tr class="bg-white/50 border-b-2 border-gray-500">
                            <td class="px-6 py-2">Monday</td>
                            <td class="px-6">09/02/23</td>
                            <td class="px-6">09:07:33</td>
                            <td class="px-6">Me</td>
                            <td class="px-6">My Friend</td>
                            <td class="px-6">920 DKK</td>
                            <td class="px-6">
                                <button class="border border-gray-500 min-w-full rounded-lg bg-blue-500 hover:scale-105 duration-300">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        <tr class="bg-white/50 border-b-2 border-gray-500">
                            <td class="px-6 py-2">Monday</td>
                            <td class="px-6">09/02/23</td>
                            <td class="px-6">09:02:33</td>
                            <td class="px-6">Me</td>
                            <td class="px-6">My Friend</td>
                            <td class="px-6">920 DKK</td>
                            <td class="px-6">
                                <button class="border border-gray-500 min-w-full rounded-lg bg-blue-500 hover:scale-105 duration-300">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-2 md:mt-0 md:col-span-4 bg-white/50 rounded-lg p-4 drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500">
            <h2 class="font-semibold mb-4">Subscriptions</h2>
            <div class="max-h-64 overflow-y-auto">
                <div class="flex flex-col gap-4">
                    <div class="bg-gray-600 rounded-lg p-4 flex justify-between items-center">
                        <div>
                            <p class="text-white font-semibold">Subscription Name</p>
                            <p class="text-gray-300">Price: $9.99/mo</p>
                        </div>
                        <button class="px-4 py-2 bg-blue-500 text-white rounded-md hover:-translate-x-5 duration-300">
                            Manage
                        </button>
                    </div>
                    <div class="bg-gray-600 rounded-lg p-4 flex justify-between items-center">
                        <div>
                            <p class="text-white font-semibold">Subscription Name</p>
                            <p class="text-gray-300">Price: $9.99/mo</p>
                        </div>
                        <button class="px-4 py-2 bg-blue-500 text-white rounded-md hover:-translate-x-5 duration-300">
                            Manage
                        </button>
                    </div>
                    <div class="bg-gray-600 rounded-lg p-4 flex justify-between items-center">
                        <div>
                            <p class="text-white font-semibold">Subscription Name</p>
                            <p class="text-gray-300">Price: $9.99/mo</p>
                        </div>
                        <button class="px-4 py-2 bg-blue-500 text-white rounded-md hover:-translate-x-5 duration-300">
                            Manage
                        </button>
                    </div>
                    <div class="bg-gray-600 rounded-lg p-4 flex justify-between items-center">
                        <div>
                            <p class="text-white font-semibold">Subscription Name</p>
                            <p class="text-gray-300">Price: $9.99/mo</p>
                        </div>
                        <button class="px-4 py-2 bg-blue-500 text-white rounded-md hover:-translate-x-5 duration-300">
                            Manage
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 col-span-full bg-white/50 rounded-lg p-4 drop-shadow-[0_5px_5px_rgba(255,255,255,1)] hover:drop-shadow-[0_0_0_rgba(0,0,0,1)] duration-500 text-sm">
            This website is open source and licensed under <strong>Creative Commons Zero (CC0)</strong>. You are free to copy, modify, distribute, and use the content for any purpose without asking for permission.
        </div>
    </div>
</body>
<script src="/js/sweetalert.js"></script>
<script src="/js/SweetInfo.js"></script>
<script src="/js/MonthlyUsage.js"></script>
<script>
	var backgroundColors = @Html.Raw(Json.Serialize(CSbackgroundColor));
	var labels = @Html.Raw(Json.Serialize(CSLabel));
	var data = @Html.Raw(Json.Serialize(CSdata));
	initializeProgressBars(labels, data, backgroundColors)
</script>
<script src="/js/ProgressBar.js"></script>
<script>
	var progressBars = @Html.Raw(Json.Serialize(progressBars));
	var firstProgressBar = progressBars[0];
	var secondProgressBar = progressBars[1];

	updateProgress('progress-bar-1', 'progress-bar-lingering-1', 'progress-text-1', firstProgressBar);
	updateProgress('progress-bar-2', 'progress-bar-lingering-2', 'progress-text-2', secondProgressBar);
</script>

