@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to";
}
<head>

    <style>
        .testing {
            background: #777;
            margin-top: 100px;
        }
    </style>
</head>
<body>

    <section class="testing">


        <h1>This is outside container</h1>

        <container>
            <h1>This is inside container</h1>
        </container>
    </section>
</body>