@page
@model IndexModel
@{
	ViewData["Title"] = "Welcome to";
}

<div class="bg-blue-400 h-max">

	<div class="pt-20 lg:px-20 lg:pb-4">

		@* Main *@
		<div class="bg-white rounded-lg lg:flex justify-center items-center pb-2 lg:h-[70rem]">
			<div class="lg:order-last w-100 ">
				<img class="w-100 rounded-lg" src="/Images/img.png" />
			</div>
			<div class="lg:order-first w-100 text-center">
				<p class="font-mono text-2xl xl:text-4xl 2xl:text-6xl ">Welcome to <br /> <strong class="lg:[text-shadow:_0_3px_0_rgb(0_255_0_/_100%)] text-blue-600">Nordic Nest</strong></p>
				<p class="font-mono ">A Finance Management Website</p>
				<br />
				<p class="font-mono text-sm/[17px] md:text-lg px-2">A simple website that will help you manage your income a lot easier</p>
				<div class="p-3">
					<p class="text-justify font-mono text-sm/[17px] md:text-lg lg:px-20 lg:py-4">
						Discover the ease of managing your finances in one place. With Nordic Nest, track your earnings, budget efficiently, and plan your savings and loans effortlessly.
						Embrace clarity and control over your financial journey, today and every day. Let's make financial management not just easy, but also empowering.
					</p>
				</div>
			</div>
		</div>

		@* Financial Clarity *@
		<div class="mt-4 bg-white rounded-lg lg:flex justify-center items-center">
			<div class="lg:order-last w-100 p-4">
				<img class="w-100 rounded-lg" src="/Images/Financial_Clarity.png" />
			</div>
			<div class="lg:order-first w-100 text-center">
				<p class="font-bold text-2xl xl:text-4xl 2xl:text-6xl text-blue-600 lg:[text-shadow:_0_1px_0_rgb(255_0_0_/_100%)] hover:lg:[text-shadow:_0_5px_0_rgb(0_0_255_/_100%)] hover:text-red-600 duration-500"> Financial Clarity</p>
				<br />
				<p class="tracking-wide leading-loose text-justify font-mono text-sm/[10px] sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-4xl p-4">
					Gain unparalleled insight into your financial health with our 'Financial Clarity' feature. Effortlessly track your income, expenses, and savings,
					all presented in an intuitive and easy-to-understand format. Make informed decisions and achieve your financial goals with clarity and confidence.
					For more information about website click <a class="text-green-500 hover:text-black" href="/Services"> here</a>
				</p>
			</div>
		</div>

		@* Simplified Savings *@
		<div class="mt-4 bg-white rounded-lg lg:flex justify-center items-center">
			<div class="lg:order-first w-100 p-4">
				<img class="w-100 rounded-lg" src="/Images/Simplified_Savings.png" />
			</div>
			<div class="lg:order-last w-100 text-center">
				<p class="font-bold text-2xl xl:text-4xl 2xl:text-6xl text-blue-600 lg:[text-shadow:_0_1px_0_rgb(255_0_0_/_100%)] hover:lg:[text-shadow:_0_5px_0_rgb(0_0_255_/_100%)] hover:text-red-600 duration-500"> Simplified Savings</p>
				<br />
				<p class="tracking-wide leading-loose text-justify font-mono text-sm/[10px] sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-4xl p-4">
					Our 'Simplified Savings' tool transforms the way you save. Set and manage your saving goals with ease, from emergency funds to dream vacations.
					Watch your savings grow in our user-friendly interface, designed to simplify your financial journey and help you save smarter, not harder.
					For more information about website click <a class="text-green-500 hover:uppercase transition duration-500" href="/Services"> here</a>
				</p>
			</div>
		</div>


		@* Loan Lifecycle *@
		<div class="mt-4 bg-white rounded-lg lg:flex justify-center items-center">
			<div class="lg:order-last w-100 p-4">
				<img class="w-100 rounded-lg" src="/Images/Loan_Lifecycle.png" />
			</div>
			<div class="lg:order-first w-100 text-center">
				<p class="font-bold text-2xl xl:text-4xl 2xl:text-6xl text-blue-600 lg:[text-shadow:_0_1px_0_rgb(255_0_0_/_100%)] hover:lg:[text-shadow:_0_5px_0_rgb(0_0_255_/_100%)] hover:text-red-600 duration-500"> Loan Lifecycle</p>
				<br />
				<p class="tracking-wide leading-loose text-justify font-mono text-sm/[10px] sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-4xl p-4">
					Navigate the complexities of loans with ease using our 'Loan Lifecycle' management. From application to final payment, track and manage every stage of your loan.
					Our intuitive system offers a clear view of your repayment schedule, ensuring you stay informed and in control throughout the loan process.
					For more information about website click <a class="text-green-500 hover:uppercase transition duration-500" href="/Services"> here</a>
				</p>
			</div>
		</div>

		@* Subscription Insights *@
		<div class="mt-4 bg-white rounded-lg lg:flex justify-center items-center">
			<div class="lg:order-first w-100 p-4">
				<img class="w-100 rounded-lg" src="/Images/Subscription_Insights.png" />
			</div>
			<div class="lg:order-last w-100 text-center">
				<p class="font-bold text-2xl xl:text-4xl 2xl:text-6xl text-blue-600 lg:[text-shadow:_0_1px_0_rgb(255_0_0_/_100%)] hover:lg:[text-shadow:_0_5px_0_rgb(0_0_255_/_100%)] hover:text-red-600 duration-500"> Subscription Insights</p>
				<br />
				<p class="tracking-wide leading-loose text-justify font-mono text-sm/[10px] sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-4xl p-4">
					Keep track of all your subscriptions in one place with 'Subscription Insights'. Our tool offers a clear overview of your monthly subscriptions,
					from streaming Services to gym memberships. Manage your subscriptions effectively, avoid unwanted fees, and ensure you're only paying for what you truly enjoy and need.
					For more information about website click <a class="text-green-500 hover:uppercase transition duration-500" href="/Services"> here</a>
				</p>
			</div>
		</div>

		@* Contact Me *@
		<div class="mt-4 bg-white rounded-lg lg:flex justify-center items-center">
			<div class="lg:order-first w-100 p-4 ">
				<div class="bg-black text-white rounded-lg">
					<p class="font-bold text-2xl xl:text-4xl 2xl:text-6xl lg:[text-shadow:_0_3px_0_rgb(0_0_255_/_100%)] text-center pb-2 lg:mb-3 rounded">
						<a class="hover:text-green-500 hover:lg:[text-shadow:_0_3px_0_rgb(255_0_0_/_100%)] duration-500" href="/Contact">Contact me</a>
					</p>
				</div>
				<div class="hidden lg:flex lg:block">
					<div class=" transition duration-500 rounded hover:bg-opacity-25 hover:bg-green-500 hover:text-blue-500 w-1/4"><strong>Full Name</strong></div>
					<div class=" transition duration-500 rounded hover:bg-opacity-25 hover:bg-green-500 hover:text-blue-500 w-1/4"><strong>Email</strong></div>
					<div class=" transition duration-500 rounded hover:bg-opacity-25 hover:bg-green-500 hover:text-blue-500 w-1/4"><strong>Phone Number</strong></div>
					<div class=" transition duration-500 rounded hover:bg-opacity-25 hover:bg-green-500 hover:text-blue-500 w-1/4"><strong>For more information</strong></div>
				</div>
				<div class="hidden lg:flex lg:block">
					<div class=" transition duration-500 rounded hover:bg-opacity-25 hover:bg-blue-500 hover:text-green-700 w-1/4"><strong>Shazil Shahid</strong></div>
					<div class=" transition duration-500 rounded hover:bg-opacity-25 hover:bg-blue-500 hover:text-green-700 w-1/4"><strong>Shazilshahid04@gmail.com</strong></div>
					<div class=" transition duration-500 rounded hover:bg-opacity-25 hover:bg-blue-500 hover:text-green-700 w-1/4"><strong>+45 91 73 69 90</strong></div>
					<div class="  w-1/4"><a class="text-green-500 hover:uppercase transition duration-500" href="/Contact"><strong> Please Click  here </a></strong></div>
				</div>

			</div>
		</div>

	</div>
</div>