@page
@model ManualModel
@{
    ViewData["Title"] = "Process Manual for ";
}

<body>

    <div class="container mt-20 mx-auto p-4">

        <div class="bg-white rounded shadow-lg p-6">

            <div class="text-center border-4 border-cyan-500 rounded p-4 mb-3">
                <div class="flex">
                    <h1 class="text-2xl bg-gray-200 w-1/3 font-bold text-gray-900">
                        <a href="#Registration">
                            Registration Process
                        </a>
                    </h1>
                    <h1 class="text-2xl bg-gray-200 w-1/3 font-bold text-gray-900">
                        <a href="#Login">
                            Login Process
                        </a>
                    </h1>
                    <h1 class="text-2xl bg-gray-200 w-1/3 font-bold text-gray-900">
                        <a href="#Other">
                            Other things
                        </a>
                    </h1>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-center font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <h2 id="Registration" class=" mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                        Detailed Registration Process Manual:
                    </h2>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            Locate and click on the
                            <strong class="group-hover:text-green-500">'Register'</strong>
                            button, found at the top right corner of the page. Enter Registration Details
                            feature. Designed to transform your understanding and management of finances:
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            A registration form will appear prompting you to enter your personal details
                            <br />
                            <br />
                            Fill in the following fields:
                            <br />
                            <br />
                            Username: Choose a unique username for your account.
                            <br />
                            <br />
                            Password: Enter a strong password. For enhanced security, use a mix of letters, numbers, and special characters.
                            <br />
                            <br />
                            Confirm Password: Enter trhe password to confirm.
                            <br />
                            <br />
                            Email Verification Process
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            After submitting the registration form, check your email inbox for a verification message from
                            <strong class="group-hover:text-green-500">"Nordic Nest"</strong>
                            If you see an error indicating the email is already used, you'll need to try another email address.
                            <br />
                            <br />
                            Click the verification link within the email to activate your account.
                            <br />
                            <br />
                            Account Verification Confirmation
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            Upon clicking the verification link, you'll be redirected to a confirmation page indicating successful account activation.
                            <br />
                            <br />
                            Here, you may be prompted to log in with your new credentials to confirm they are working correctly.
                            <br />
                            <br />
                            Finalizing Account Setup
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            After logging in for the first time, you may be taken through additional setup steps. This could include providing more detailed personal and financial information.
                            <br />
                            <br />
                            You might be asked to set up security questions, link a bank account, or set financial goals.
                            <br />
                            <br />
                            <strong class="group-hover:text-green-500">Welcome to "Nordic Nest</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            Once the registration process is complete, you'll be welcomed to your personal dashboard.
                            <br />
                            <br />
                            Take some time to familiarize yourself with the dashboard features and settings.
                            <br />
                            <br />
                            <strong class="group-hover:text-green-500">Start Using Financial Tools</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            Begin by creating jobs or income streams and setting up savings goals.
                            <br />
                            <br />
                            Follow guided steps to manage savings accounts, track loans, and establish a budget tailored to your financial situation.
                            <br />
                            <br />
                            <strong class="group-hover:text-green-500">Support and Assistance</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            <strong class="group-hover:text-green-500">
                                If at any point you run into difficulties, "Nordic Nest" provides a customer support service. <a class="text-green-500 hover:uppercase transition duration-500" asp-page="/Contact_Form"> Click here to contact me and i will guide you through this</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-center font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <h2 id="Login" class=" mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                        Accessing Login Page:
                    </h2>
                </div>
            </div>
                
            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            From the 
                            <strong class="group-hover:text-green-500">"Nordic Nest"</strong>
                            homepage, identify the 'Login' button. Click to open the login form.
                            Entering Login Credentials
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            In the login form, enter your username and the password you set during registration.
                            <br />
                            <br />
                            Ensure the accuracy of the details to prevent any login errors.
                            <br />
                            <br />
                            Successful Login
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            After entering your credentials, press the 'Login' button.
                            <br />
                            <br />
                            You should be redirected to your personal "Nordic Nest" dashboard where you can access all features.
                            <br />
                            <br />
                            Troubleshooting Login Issues
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            If you cannot log in, ensure there are no typos in your username and password and that Caps Lock is off.
                            <br />
                            <br />
                            If multiple attempts fail, use the 'Forgot Password' link to reset your password, following the on-screen instructions.
                            <br />
                            <br />
                            Resetting Your Password
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            To reset your password, you'll typically need to provide your registered email address.
                            <br />
                            <br />
                            You'll receive an email with a link to create a new password. Follow the link and the instructions carefully.
                            <br />
                            <br />
                            Final Steps
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            Once logged in, review any notifications or alerts that may be waiting for you on the dashboard.
                            <br />
                            <br />
                            If you've logged in after a period of inactivity, check for any updates or changes to the platform that may have occurred.
                            <br />
                            <br />
                            Security Reminder
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            Remember to log out of your account after each session if you're on a shared or public computer to protect your personal financial data.
                            <br />
                            <br />
                            Need Help?
                            <br />
                            <br />
                            If you're experiencing persistent issues or have any questions, reach out to "Nordic Nest" customer support via the contact methods provided on the website.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-center font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <h2 id="Other" class=" mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                        Other things:
                    </h2>
                </div>
            </div>

            <div class="w-full p-4 border-4 border-cyan-500 rounded mb-3">
                <div class="text-justify font-mono text-xs sm:text-sm lg:text-lg xl:text-xl">
                    <div class="group">
                        <p class="mb-3 bg-gray-200 hover:bg-black hover:text-white transition duration-500 rounded p-2">
                            Right now i don't really know what other thing i can talk about but if there is something that you are having problem with please contact me:'
                            <br />
                            <br />
                            <a class="text-green-500 hover:uppercase transition duration-500" asp-page="/Contact">you can contact me by click on this sentence.</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

