@page
@model NordicNest.Pages.RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
@if (Model.allComplete == false)
{


    @if (Model.isVarified == false)
    {
        <body class="flex justify-center items-center h-screen bg-cover bg-center"
              style="background-image: url('/Images/logo1.png');">
            <div class="relative w-100 max-w-md transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                <div class="absolute inset-0 bg-transparent backdrop-filter backdrop-blur-md border border-white border-opacity-50 rounded-lg">
                </div>
                <div class="relative px-8 py-10">
                    <form action="" method="post">
                        <h2 class="text-2xl flex items-center justify-center w-auto font-bold mb-6 transition duration-500 hover:text-white">PLEASE VERIFY YOUR EMAIL</h2>
                        <div class="mb-4">
                            <input type="email" name="email" required
                                   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                                   placeholder="Email">
                        </div>
                        <button type="submit" class="w-full bg-blue-500 hover:bg-green-700 transition duration-700 text-white font-bold py-2 px-4 rounded-lg">
                            Verify
                        </button>
                        <div class="text-center mt-4 font-bold text-white">
                            <p>
                                Already have an account?
                                <a asp-page="Login" class="transition duration-700 hover:text-green-500">Login</a>
                            </p>
                        </div>
                        <div class="flex justify-center items-center  mt-6">
                            <button onclick="goBack()" class="w-full hover:text-black bg-blue-500 transition duration-700 text-white font-bold py-2 px-4 rounded-lg">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </body>
    }
    else if (Model.isVarified == true)
    {
        <body class="flex justify-center items-center h-screen bg-cover bg-center"
              style="background-image: url('/Images/logo1.png');">
            <div class="relative w-100 max-w-md transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                <div class="absolute inset-0 bg-transparent backdrop-filter backdrop-blur-md border border-white border-opacity-50 rounded-lg">
                </div>
                <div class="relative px-8 py-10">
                    <form method="post" asp-page-handler="allDone">
                        <h2 class="text-2xl flex items-center justify-center w-auto font-bold mb-6 transition duration-500 hover:text-white">Email Verified</h2>
                        <div class="mb-4">
                            <input type="text" name="firstname" maxlength="30" required
                                   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                                   placeholder="First Name">
                        </div>
                        <div class="mb-4">
                            <input type="text" name="lastname" maxlength="30" required
                                   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                                   placeholder="Last Name">
                        </div>
                        <div class="mb-4">
                            <input type="number" name="userage" maxlength="2" required
                                   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                                   placeholder="Your Age">
                        </div>
                        <div class="mb-4">
                            <input type="text" name="username" maxlength="50" required
                                   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                                   placeholder="Username">
                        </div>
                        <div class="mb-4">
                            <input type="password" name="password" id="password" maxlength="50" required
                                   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                                   placeholder="Password">
                        </div>
                        <div class="mb-6">
                            <input type="password" id="confirm_password" maxlength="50" required
                                   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                                   placeholder="Confirm Password">
                        </div>
                        <div class="mb-4 w-100">
                            <label class="w-100 px-3 py-2 border border-gray-300 rounded-lg bg-white mb-4">
                                Gender
                            </label>
                            <div class="flex">

                                <div class="flex items-center my-4 w-1/2 text-center">
                                    <input id="genderMale" type="radio" name="userGender" value="Male" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="genderMale" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                        Male
                                    </label>
                                </div>
                                <div class="flex items-center my-4 2-1/2 text-center">
                                    <input id="genderFemale" type="radio" name="userGender" value="Female" class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="genderFemale" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="w-full bg-blue-500 hover:bg-green-700 transition duration-700 text-white font-bold py-2 px-4 rounded-lg">
                            Submit
                        </button>
                    </form>
                    <div class="flex justify-center items-center mt-6">
                        <a asp-page="/Index" class="w-full text-center hover:text-black bg-blue-500 transition duration-700 text-white font-bold py-2 px-4 rounded-lg">Back</a>
                    </div>
                </div>
            </div>
        </body>
    }
}
else if (Model.allComplete == true)
{
    <body class="flex justify-center items-center h-screen bg-cover bg-center"
          style="background-image: url('/Images/logo1.png');">
        <div class="relative w-100 max-w-md transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
            <div class="absolute inset-0 bg-transparent backdrop-filter backdrop-blur-md border border-white border-opacity-50 rounded-lg">
            </div>
            <div class="relative px-8 py-10">
                <h1>Well done. You are now a part of Nordic Nest</h1>
                <div class="flex justify-center items-center mt-6">
                    <a asp-page="/Index" class="w-full text-center hover:text-black bg-blue-500 transition duration-700 text-white font-bold py-2 px-4 rounded-lg">Back</a>
                </div>
            </div>
        </div>
    </body>
}

<script src="~/js/GoBack.js" asp-append-version="true"></script>
<script src="~/js/ConfirmPassword.js" asp-append-version="true"></script>

</html>
