@page
@model NordicNest.Pages.ShowErrorMessageModel
@{
}

<div class="flex h-screen items-center justify-center bg-violet-500">
	<a asp-page="/Index" class="text-sm/[10px] sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-4xl rounded-2xl bg-blue-500 py-4 px-6 text-white hover:scale-110 hover:bg-black hover:text-white duration-500 border-2 border-green-500">Access denied</a>
</div>